/*################################
  #                              #
  #      by Claudiu Limban       #
  #  http://sofuxro.elance.com   #
  #                              #
  ################################*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,button,cite,code,del,dfn,em,fieldset,figure,font,img,input,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,select,tbody,textarea,tfoot,thead,tr,th,td{margin:0;padding:0;border:0 none;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a,button,input[type="submit"],input[type="reset"]{cursor:pointer}a{text-decoration:none}a:hover{text-decoration:underline}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,details{display:block;}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}svg{overflow:hidden;}p,a{word-wrap:break-word;}
/* end of reset */

html, body { height:100%; min-height:100%; }
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.clear { height:0; width:0; clear:both; }
.hidden { display:none; }
.clearfix:before, .clearfix:after { content:" "; display:table; }
.clearfix:after { clear:both; }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// GENERAL
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@blue_1:#2C61AA;
@blue_2:#4885C4;


@gray_1:#58595B;
@gray_2:#BCBEC0;
@gray_3:#848587;


body { font-family:'Roboto Condensed', Helvetica, Arial, sans-serif; overflow-x:hidden; }
textarea, input { font-family:'Roboto Condensed', Helvetica, Arial, sans-serif; }
.container { width:940px; min-height:100%; position:relative; margin:0 auto; padding:0 0 214px; }
.logo { filter:alpha(opacity=85); opacity:0.85;
    &:hover { filter:alpha(opacity=100); opacity:1; }
}
.f_left { float:left; }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// HEADER
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    header { padding:0 0 28px;
        .upper { width:123%; height:52px; background:url(../img/sprite_2.png) 0 -52px no-repeat; background-size:100% auto; position:relative; margin:0 0 23px -11%; }

        .login { height:50px; margin:15px 0 -41px; color:@gray_1; font-size:11px; text-align:right;
            a { color:@gray_1; }
            span { margin:0 12px; }
        }
        .logo { float:left; margin-right:40px; display:inline-block; }

        .menu { height:16px; position:relative; float:left; margin:39px 0 0;
            button { background:@blue_2; padding:1px 16px 0; border-radius:9px; color:#fff; font-size:11px; line-height:15px;
                &:hover { background-color:@blue_1; text-decoration:none; }
            }
            .dropdown { width:150px; background-color:#538FC9; background-image:-webkit-linear-gradient(to bottom, #6AA3D5, #3D7CBF); background-image:linear-gradient(to bottom, #6AA3D5, #3D7CBF); position:absolute; top:22px; left:-40px; padding:5px; box-shadow:1px 1px 5px rgba(0, 0, 0, 0.6); border-radius:8px; z-index:1;
                a { border-radius:3px; color:#fff; font-size:14px; text-align:center; line-height:22px; display:block;
                    &:hover { background-color:#EFEFEF; color:#3D7CBF; text-decoration:none; }
                }
            }
        }

        .searchbar { position:relative; float:right; padding:31px 0 0; color:@gray_1;
            input[type="text"] { width:396px; height:31px; padding:3px 41px 0 17px; border:1px solid @gray_2; border-radius:20px; font-size:15px; }
            input[type="submit"] { width:25px; height:25px; background:@blue_2 url(../img/sprite_1.png) -83px -0px; position:absolute; top:34px; right:3px; border-radius:12px; display:block;
                &:hover { background-color:@blue_1; }
            }
            div { width:360px; background-color:#E6E7E8; position:absolute; top:62px; left:12px; padding:8px 0 8px; z-index:1;
                &:before { content:' '; width:400px; height:19px; background:url(../img/sprite_1.png) 0 -228px no-repeat; position:absolute; top:0; left:-11px; }
                &:after  { content:' '; width:378px; height:91px; background:url(../img/sprite_1.png) 0 -137px; position:absolute; bottom:-91px; left:-15px; }
                button   { width:100%; height:29px; padding:0 10px; border-bottom:1px solid #DCDDDE; color:#000; font-size:15px; text-align:left; display:block;
                    &:hover { background-color:#F3F3F4; }
                }
            }
        }

        .login_box { width:280px; height:219px; background:url(../img/login_box.png); position:absolute; top:52px; right:129px; padding:15px 20px; text-align:left; z-index:1; display:none;
            .js_close { width:11px; height:12px; background:url(../img/sprite_1.png) 0 -72px ; margin:0 0 10px 208px; filter:alpha(opacity=50); opacity:0.5; display:block;
                &:hover { filter:alpha(opacity=80); opacity:0.8; }
            }
            input[type="text"], input[type="password"] { width:220px; height:35px; margin:0 0 15px 0; padding:0 0 0 46px; color:@gray_1; font-size:15px; }
            input[type="submit"] { height:24px; background-color:@blue_2; margin:5px auto 18px; padding:0 25px; color:#FFF; font-weight:bold; font-size:11px; font-weight:bold; text-transform:uppercase; display:block;
                &:hover { background-color:@blue_1 }
            }
            a { font-size:11px; letter-spacing:1px; text-transform:uppercase; }
        }
    } /*END OF HEADER*/




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// ICONS
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .icon_facebook, .icon_twitter { width:30px; height:30px; background:url(../img/sprite_1.png) -19px 0px @blue_1; float:left; margin:0 20px 0 0; border-radius:20px; vertical-align:middle; display:inline-block; 
        &:hover{ background-color:#000; }
    }
    .icon_twitter { background-position:-51px 0px; }
    .icon_corner { width:35px; height:35px; background:url(../img/sprite_1.png) -28px -61px; position:absolute; top:0px; right:0px; vertical-align:middle; display:inline-block; }
    .icon_user { width:120px; height:20px; background:@blue_1; position:relative; right:-40px; float:right; padding:1px; border-radius:5px; font-size:12px; text-align:center; text-transform:uppercase; line-height:18px;
        &:before { content:' '; width:0; height:0; position:absolute; top:0; left:-7px; border-bottom:10px solid transparent; border-right:10px solid @blue_1; border-top:10px solid transparent; float:left; vertical-align:middle; }
    }
    .icon_handup { width:20px; height:20px; background:url(../img/sprite_1.png) 2px -31px; vertical-align:middle; display:inline-block; }
    .icon_handlow { width:20px; height:20px; background:url(../img/sprite_1.png) 2px -51px; vertical-align:middle; display:inline-block; }
    .icon_arrow_down { width:30px; height:30px; background:url(../img/sprite_1.png) -185px 0; vertical-align:middle; display:inline-block; }

    .icon_arrow:after { content:' '; width:40px; height:40px; background:url(../img/sprite_1.png) -67px -32px; position:absolute; top:0; left:-38px; display:block; }



/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// Common
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .btn { height:19px; background:@blue_1; position:relative; padding:2px 12px 2px 24px; margin:16px 0 0; color:#fff; font-size:10px;
        &:hover { background-color:#5688CE; }
        &:after { content:' '; width:19px; height:19px; background:url(../img/sprite_1.png) -19px -32px; position:absolute; top:0; left:0; display:block; }
    }


    .btn_green_circle, .btn_red_circle { width:13px; height:13px; position:relative; margin:0 2px 0 0; border-radius:7px; border:1px solid transparent;
        &:after { content:' '; width:9px; height:9px; background-color:#50B848; position:absolute; top:1px; left:1px; border-radius:5px; filter:alpha(opacity=50); opacity:0.5; display:block; }
        &.active, &:hover { border:1px solid #C8C8C9;
            &:after { filter:alpha(opacity=100); opacity:1; }
        }
    }
    .btn_red_circle:after { background-color:#F00; }

    .btn_star { width:13px; height:13px; background:url(../img/sprite_1.png) -121px -48px; margin:0 2px 0 0; vertical-align:bottom;
        &.active, &:hover { background-position:-108px -48px; }
    }

    .btn_pencil { width:13px; height:13px; background:url(../img/sprite_1.png) -134px -48px; margin:0 2px 0 0; filter:alpha(opacity=80); opacity:0.8; vertical-align:bottom;
        &:hover { filter:alpha(opacity=100); opacity:1; }
    }


    .middle .list_element { padding:17px 0 38px; overflow:hidden;
        article { width:50%; min-width:470px; float:left; padding:0;
            & > div { width:95%; padding:10px 0; border-bottom:1px dotted #848587;
                &:after { content:' '; clear:both; display:table; }
                & > div:before { content:' '; clear:both; display:table; }
            }
            p { color:#231F20; font-size:14px; font-weight:bold; line-height:15px; }
            .number { width:40px; float:left; padding:0 10px 27px; color:#C2C3C6; font-size:20px; text-align:right; }
            .data { padding:6px 0 0; color:#58595B; font-size:13px; font-weight:normal; }
            img { float:right; margin:2px 0 0; display:block; }
        }
    }


    .js_tabs.style_1 > nav { height:43px; background:url(../img/sprite_3.png) 0 -60px; background-size:101% auto; margin:0 0 17px; padding:19px 62px 0; text-align:center; overflow:hidden;
        a { min-width:90px; height:28px; position:relative; padding:0 3%; color:#fff; line-height:25px; font-size:14px; text-align:center; text-transform:uppercase; display:inline-block;
            &:hover, &.active { background:#fff; color:@gray_1; text-decoration:none;
                &:before, &:after { content:' '; width:10px; height:1px; position:absolute; top:0; border-top:30px solid transparent; }
                &:before { left:-18px; border-right:8px solid #FFF; }
                &:after  { right:-15px; border-left:5px solid #FFF;}
            }
        }
    }

    .js_tabs.style_2 > nav { background-image:none; padding:8px 0 0; border-bottom:1px solid @gray_2; text-align:center;
        a { background-color:#FFF; margin:0 0 -1px; padding:0 7%; color:@gray_1; font-size:14px; line-height:27px; text-transform:uppercase; display:inline-block;
            &.active { border:1px solid @gray_2; border-bottom:1px solid #FFF; }
        }
    }


    .items_info { padding:32px 0 0;
        & > div { margin:0 0 32px; padding:0 0 32px; border-bottom:1px dashed @gray_3; overflow:hidden;
            figure { position:relative; float:left; margin:0 20px 0 0;
                span { width:80px; height:80px; background-color:#FDB62A; position:absolute; bottom:-14px; right:-10px; border-radius:40px; color:@blue_1; font-size:24px; text-align:center; line-height:77px; display:block;
                    b { font-size:36px; }
                }
            }
            .info_overflow { width:42%; height:257px; float:left; margin:0 20px 44px 0; padding:0 20px 0 0; overflow-y:scroll;
                .info_content { color:@gray_1; font-size:15px; }
                h2 { padding:0 0 25px; color:@blue_1; font-size:20px; text-transform:uppercase; }
                h3 { padding:0 0 23px; text-transform:uppercase; }
                p  { line-height:22px; }
            }
            .link { width:42%; float:left; color:@blue_1;
                a { color:@blue_1; }
            }
            .dates { width:290px; float:left;
                & > div { padding:0 0 20px; color:@gray_1;
                    label { width:130px; display:inline-block; }
                    div, input { width:140px; float:right; padding:0 0 0 30px; color:@gray_1; text-align:left; }
                    &.inactive label, &.inactive div { color:#A3A4A6; }
                }
                .js_datepicker { position:relative; cursor:pointer;
                    &:after { content:' '; width:19px; height:18px; background:url(../img/sprite_1.png) -215px 0; position:absolute; top:-2px; right:0; display:block; }
                    label { cursor:pointer; }
                    input { height:17px; padding:0 0 0 29px; }
                }
            }
        }
    }


    .item_text { padding:32px 0 0;
        & > div { margin:0 0 32px; border-bottom:1px dashed @gray_3; color:@gray_1; overflow:hidden;
            .left { width:35%; min-width:320px; float:left; margin:0 0 32px; font-size:13px; }
            .btn.style1, .btn.style2 { height:25px; padding:2px 12px 2px 29px; font-style:12px; font-weight:bold; text-transform:uppercase;
                &:after { width:25px; height:25px; background-position:-186px -29px; }
            }
            .btn.style2:after { background-position:-186px -54px; }
            h2 { padding:0 0 25px; color:@blue_1; font-size:20px; text-transform:uppercase; }
            p { line-height:19px;
                &.style_1 { padding:0 0 45px; }
            }
            .right { width:65%; min-width:480px; height:287px; float:left; margin:0 0 32px; overflow-y:scroll;
                p { padding:0 0 25px; }
            }
        }
    }


    .js_edit_field {
        input { border:1px solid @gray_2; border-radius:20px; }
    }

    .middle .js_more_less { width:100%; height:77px; background-color:#FFF; position:absolute; bottom:0; left:0;
        button { background-color:#939596; margin:10px auto; border-radius:20px; font-size:11px; font-weight:bold; color:#fff; display:block;
            &:hover { background-color:#5688CE; }
        }
        &.active button { content:'LEIA MENOS'; }
    }



/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// HOME
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .middle { width:100%; min-width:460px; 
        .horbar { height:300px; float:left; margin:0 30px; border-left:1px solid @gray_2; display:block; }
        section { position:relative; }
        .bigtitle, .title { height:53px; background:url(../img/sprite_3.png) 0 -110px; background-size:101% auto; margin:0 0 31px 0; color:#fff; font-size:25px; line-height:53px; text-align:center; }
        .subtitle { margin:-15px 0 0; padding:0 0 18px; border-bottom:1px dotted @gray_3; font-size:15px; text-align:center; color:@gray_1; }
        .titles { font-size:15px; text-align:center; line-height:40px; color:@gray_1; }
        .title { height:43px; background-position:0 -165px; margin:20px 0 20px -6px; line-height:43px; }
        .slider_wrapper { width:960px; height:379px; position:relative; margin:0 auto 50px; overflow:hidden;
            .slider { width:4000px; height:379px; position:absolute; top:0; left:0; border-bottom:1px dotted @gray_3;
                .item { width:240px; float:left; padding:0 28px 0 0;
                    a {
                        img { border:5px solid transparent; display:block; }
                        span  { padding:7px 0 0 5px; color:@blue_1; font-size:18px; font-weight:bold; text-transform:uppercase; display:block; }
                        &:hover { text-decoration:none;
                            img { border:5px solid #fdb62a; }
                            span  { padding:7px 0 0 5px; color:#fdb62a; text-decoration:none; }
                        }
                    }
                }
            }
        }
        .slider_left, .slider_right { width:39px; height:46px; background:url('../img/sprite_1.png') -108px 0px; position:absolute; bottom:206px; filter:alpha(opacity=70); opacity:0.7; z-index:1;
            &:hover { filter:alpha(opacity=100); opacity:1; }
            &.inactive { filter:alpha(opacity=30); opacity:0.3; cursor:default; }
        }
        .slider_left  { left:-49px;  }
        .slider_right { background-position:-147px 0px; right:-49px; }

        .wrapper { margin:14px 0 40px;
            .gallery { padding:17px 0 38px; overflow:hidden; }
            .film { width:33.33%; min-width:300px; float:left; padding:0 20px 38px 0;
                &:hover { 
                    img { border:5px solid #fdb62a; }
                    h3 a { color:#fdb62a; }
                }
                img { float:left; margin:0 10px 0 0; border:5px solid transparent; }
                h3 { height:127px; padding:34px 0 0; font-size:18px;
                    a { color:@blue_1;
                        &:hover { text-decoration:none; }
                        span { color:@gray_1; font-size:13px; font-weight:normal; display:block; }
                    }
                }
                p { padding:0 0 2px; font-size:13px; color:@gray_1; 
                    span { padding:0 0 0 3px; color:@blue_1; font-weight:bold; letter-spacing:0.7px; }
                }         
            }
        } /* END OF wrapper*/

        article { width:50%; min-width:470px; float:left; padding:38px 10px 0 0;
            &.style_1 {
                div:after { content:' '; clear:both; display:table; }
                .number { width:40px; float:right; margin:-4px 0 0; color:@blue_1; font-size:18px; font-weight:bold; text-align:right; }
            }
            & > div { padding:15px 0 13px; border-bottom:1px dotted @gray_3;
                > a { text-decoration:none;
                    span { margin:0 5px; }
                    }
                > p { float:left; line-height:16px; }
            }
            h2 { background:url(../img/sprite_4.png); padding:0 0 0 23px; font-size:25px; line-height:51px; color:#fff; }
            span, p { color:@gray_1; font-size:13px; }

        }

        .bar { width:80px; height:10px; background-color:#DEDEDE; position:relative; float:right;
                    &:after { content:' '; height:10px; background-color:#FDB62A; position:absolute; top:0; left:0; }
        }

        aside { position:relative;
            &.h_bar { padding:0 28px 0 0;
                &:after { content:' '; width:1px; height:100%; background-color:@gray_2; position:absolute; top:0; right:0; }
            }
            label { position:relative; margin:5px 0; font-weight:bold; font-size:15px; line-height:25px; color:#231f20; display:block;
                span { position:absolute; top:15px; right:0px; }
                .tip { position:absolute; top:-5px; right:0px; font-size:10px; color:@gray_1; }
            }
            input[type="text"], input[type="password"] { width:100%; height:25px; padding:3px 6px; margin:0 20px 20px 0; border:1px solid @gray_2; box-shadow:0px 2px 4px 0 rgba(0, 0, 0, 0.15) inset; font-size:15px; color:@gray_1; display:block; 
            }
            button.style1 { height:25px; padding:2px 4px 2px 30px; margin:0; font-size:13px;
                &:hover { background-color:#5688CE; }
                &:after { content:' '; width:25px; height:25px; background:url(../img/sprite_1.png) -38px -32px; position:absolute; top:0; left:0; display:block; }
            }
        } /* END OF ASIDE */

    } /* END OF MIDDLE */




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// LOGIN
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
                                                                          
    .middle.login {
        aside { width:46%; float:left; line-height:30px; font-size:15px;
            .group { height:110px;
                h4 { color:#231f20; }
                p { color:@gray_1; }
            }
            label { display:block;}
            input { width:59%; min-width:240px;float:left; }
            button { float:left; }
        }
    }





/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// REGISTER
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .middle.register aside { width:33%; min-width:300px; float:left;
        input { width:90%; }
        .small { width:42%; float:left; overflow:hidden; margin-right:15px; 
            input { margin:0 0 36px; } 
        }
        .align { width:42%; float:right; overflow:hidden; margin-right:15px; }
        button.style1 { margin-left:40px; }
        input { margin:0 0 40px 0; }
        label { 
            span { position:absolute; top:15px; right:30px; }
            .tip { position:absolute; top:-5px; right:30px; font-size:10px; color:@gray_1; }
        }
    }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// MENU
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .menu aside { width:30%; float:left; 
        h3 { line-height:40px; font-size:20px; color:#2c61aa; }
        p { font-weight:bold; font-size:13px; color:#231f20; }
        .upper { margin:-5px 0 20px 0; }
        .member { 
            p { font-weight:normal; font-size:15px; line-height:20px; color:@gray_1; }
            span { font-weight:bold; color:@gray_1; }
            b { color:#000; }
        }
    }



/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// LEGENDAS
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .middle.legendas {

        input[type="text"], select  { width:49%; height:31px; float:left; margin:0 20px 20px 0; padding:3px 6px; border:1px solid @gray_2; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15) inset; color:@gray_1; font-size:15px; }
        input[type="radio"] { width:20px; float:left; margin:0 8px 36px 0; }
        input[type="checkbox"] { float:left; margin:0 13px 0 -25px; vertical-align:-2px; }
        label { float:left; margin:0 10px 20px 0; font-size:15px; line-height:31px; color:#231F20; font-weight:bold;
            &.style_1 { margin:0 10px 0 0; color:@gray_1; font-weight:normal; }
        }
        label .number { float:left; position:static; font-weight:normal; }
        .number { margin-right:10px; font-size:40px; color:#c2c3c6; vertical-align:middle; }
        .horbar { height:371px; }

        .clear { width:100%; margin:0 0 44px; padding:24px 0 0; }
        .border { border-bottom:1px solid @gray_3; }

        .slider_wrapper { margin:0 auto 44px;
            .slider { border-bottom:1px solid @gray_3; }
        }       

        .selection { padding:34px 0 6px; border-bottom:1px dotted @gray_3; overflow:hidden;
            .icon_zoom { width:140px; height:25px; background:@blue_2; position:relative; float:left; margin:3px 0 20px; border-radius:12px; color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase; display:block;
                &:hover { background-color:@blue_1; }
                &:after {content:' '; width:25px; height:25px; background:url(../img/sprite_1.png) -83px -0px; position:absolute; top:0; right:3px; }
            }
        }

        .details { overflow:hidden; padding:0 0 35px;
            select.style_1 { width:22%; position:relative;
                &:after { content:' '; width:29px; height:29px;  background:url(../img/sprite_1.png) -186px 0; position:absolute; top:0; left:0; }
            }
        }

        aside { width:50%; float:left; line-height:20px;
            &:last-child  { padding:0 0 0 28px; }
            &.h_bar:after  { height:406px; }
            label { float:none; margin:0 10px 20px 0; line-height:14px;
                em { color:@gray_3; font-style:normal; font-weight:normal; }
            }
            p { padding:9px 0 0; color:@gray_1; font-size:11px;
                label { float:left; color:@gray_1; font-size:11px; font-weight:normal; }
            }
            input[type="text"] { width:70%; margin-top:10px; }
            textarea { width:100%; height:372px; margin:0 0 20px; padding:6px; border:1px solid @gray_2; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15) inset; color:@gray_1; }
            button { width:60px; height:16px; background-color:@blue_1; float:right; margin:16px 0 0; padding:0 0 1px; border-radius:10px; color:#FFF; font-size:9px; text-transform:uppercase; font-weight:bold;
                &:hover { background-color:@blue_2; }
                &.gray { background-color:@gray_3; float:right; margin:0;
                    &:hover { background-color:@gray_1; }
                }
            }
            .file_upload { position:relative;
                input { position:absolute; filter:alpha(opacity=0); opacity:0; }
                .fake_input { width:77%; height:31px; border:1px solid @gray_2; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15) inset; color:@gray_1; font-size:15px;
                    &:after { content:'BROWSE'; width:60px; height:16px; background-color:@blue_1; position:absolute; top:-8px; right:0; margin:16px 0 0; padding:0 0 1px; border-radius:10px; color:#FFF; font-size:11px; text-transform:uppercase; text-align:center; line-height:16px; }
                }
            }
        }

        .bottom { padding:30px 0; border-bottom:1px solid @gray_3; text-align:center;
            .icon_arrow { position:relative; display:inline-block;
                &:after { top:-1px; left:-40px; -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }
                input[type="submit"] { height:39px; background:@blue_1; position:relative; padding:2px 12px 2px 24px; margin:0 auto 20px; border-radius:0; color:#fff; font-size:16px; font-weight:bold; text-transform:uppercase;
                    &:hover { background-color:@blue_2; }
                }
            }
            input, label { float:none; font-weight:normal; }
        }
    } /* END OF LEGENDAS */



/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// DOWNLOAD
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .download { width:70%; margin:auto;
        section.first { height:400px; padding:40px 0 76px; margin:auto; border:0 none; overflow:hidden; 
            h3    { font-size:20px; line-height:20px; color:@blue_1; }
            h5    { font-size:15px; line-height:60px; color:@gray_1; }
            img   { position:relative; float:left; margin:0 20px 0 0; z-index:1; }
            p     { font-size:15px; line-height:22px; color:@gray_1; }
        }
        section { padding:20px 0; border-top:2px dotted #000;   
            aside { float:left; padding:20px 30px 20px 0; position:relative; overflow:hidden;
                .nume { font-weight:bold; color:@blue_1; } 
                .hour, .hour, .number { font-weight:bold; }
            }
            .last { padding:20px 0 20px 35px; }
            p { font-size:15px; line-height:25px; color:@gray_1; }
        }
        .bar { width:100%; display:block; }
        .comments { background:#e5e5e5; position:relative; margin:auto; 
            h4 { margin:auto; font-size:20px; line-height:60px; text-align:center; }
            label { font-size:15px; line-height:25px; display:block; }
            textarea { width:100%; height:300px; background:#fff; margin:0 auto 20px; display:block; }
            
            .post, .solid { width:90%; position:relative; padding:20px 0; margin:auto; border-top:2px dotted #000;
                .user { position:absolute; top:0px; right:0px; }
                .moderators { background:#ffc20e; 
                    &:before { border-right:10px solid #ffc20e; }
                }
                .legend { background:#6b6b6b; color:#FFF;
                    &:before { border-right:10px solid #6b6b6b; }
                }
                .admin  { background:#2C61AA; color:#FFF; }
                .name   { font-size:15px; color:#000; }
                .time   { font-size:12px; color:#000; }
                .space  { padding:10px 0; }
                .rating { margin-right:10px; font-size:15px; color:#000; }
                .ball   { width:20px; height:20px; background:@blue_1; padding:0px; margin:0 5px; padding:0 0 2px; border-radius:20px; webkit-border-radius:20px; text-align:center; color:#fff;
                    &:hover { background-color:#5688CE; }
                }
                .type   { float:left; 
                        span { line-height:20px; display:inline-block; }
                }
            }
            .solid { border-top:2px solid #b7b7b7; }
        }
        button { background:@blue_1; padding:2px 6px; margin:10px 0; border-radius:20px; font-size:11px; font-weight:bold; color:#fff; 
            &:hover { background-color:#5688CE; }
        }
        .gray { background:#939596; display:block; margin:10px auto; }
        .icon_arrow { height:39px; background:@blue_1; position:relative; padding:2px 12px 2px 24px; margin:20px auto; border-radius:0; color:#fff; font-size:16px; font-weight:bold; display:block;
            &:hover { background-color:#5688CE; }
        }
    }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// PAGINATION
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .middle .pagination_wrapper { margin:1px 0 0; border-top:1px solid @gray_2; text-align:center;
        .pagination { background-color:#FFF; margin:-1px 0 0; padding:6px 20px 5px; border:1px solid @gray_2; border-top:0 none; display:inline-block;
            a { display:inline-block; }
            button { width:20px; height:20px; background-color:transparent; margin:0; padding:0 0 1px; color:@gray_1; font-size:10px; font-weight:bold;
                &:hover, &.active { background-color:@blue_1; color:#fff; }
                &:after, &:before { content:none; }
            }
            .left, .right { width:20px; height:20px; background-image:url(../img/sprite_1.png); margin:0 0 0 5px; filter:alpha(opacity=70); opacity:0.7; vertical-align:middle; display:inline-block;
                &:hover { filter:alpha(opacity=100); opacity:1; }
            }
            .right  { background-position:1px 2px; }
            .left { background-position:1px -15px; }
        }
    } /* END OF PAGINATION */





/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// TOOTLTIP
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

    .js_tooltip > div { position:relative;
        &:hover { background-color:#F7F7F7; cursor:pointer; }
        .tooltip { width:270px; background-color:#E4E4E4; background-image:linear-gradient(to bottom, #D7D7D7, #E4E4E4); background-image:-webkit-linear-gradient(to bottom, #D7D7D7, #E4E4E4); position:absolute; left:35%; bottom:50px; padding:13px 15px 5px; display:none;
            &:after { content:' '; background:url(../img/sprite_1.png) 0 -98px; width:270px; height:39px; position:absolute; bottom:-39px; left:0; }
            h3 { font-size:13px; }
            p { color:#424242; font-size:13px; line-height:20px; }
        }
        &:hover .tooltip { display:block; }
    }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// FOOTER
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
    .p_0:after{width:0%;}.p_1:after{width:1%;}.p_2:after{width:2%;}.p_3:after{width:3%;}.p_4:after{width:4%;}.p_5:after{width:5%;}.p_6:after{width:6%;}.p_7:after{width:7%;}.p_8:after{width:8%;}.p_9:after{width:9%;}.p_10:after{width:10%;}.p_11:after{width:11%;}.p_12:after{width:12%;}.p_13:after{width:13%;}.p_14:after{width:14%;}.p_15:after{width:15%;}.p_16:after{width:16%;}.p_17:after{width:17%;}.p_18:after{width:18%;}.p_19:after{width:19%;}.p_20:after{width:20%;}.p_21:after{width:21%;}.p_22:after{width:22%;}.p_23:after{width:23%;}.p_24:after{width:24%;}.p_25:after{width:25%;}.p_26:after{width:26%;}.p_27:after{width:27%;}.p_28:after{width:28%;}.p_29:after{width:29%;}.p_30:after{width:30%;}.p_31:after{width:31%;}.p_32:after{width:32%;}.p_33:after{width:33%;}.p_34:after{width:34%;}.p_35:after{width:35%;}.p_36:after{width:36%;}.p_37:after{width:37%;}.p_38:after{width:38%;}.p_39:after{width:39%;}.p_40:after{width:40%;}.p_41:after{width:41%;}.p_42:after{width:42%;}.p_43:after{width:43%;}.p_44:after{width:44%;}.p_45:after{width:45%;}.p_46:after{width:46%;}.p_47:after{width:47%;}.p_48:after{width:48%;}.p_49:after{width:49%;}.p_50:after{width:50%;}.p_51:after{width:51%;}.p_52:after{width:52%;}.p_53:after{width:53%;}.p_54:after{width:54%;}.p_55:after{width:55%;}.p_56:after{width:56%;}.p_57:after{width:57%;}.p_58:after{width:58%;}.p_59:after{width:9%;}.p_60:after{width:60%;}.p_61:after{width:61%;}.p_62:after{width:62%;}.p_63:after{width:63%;}.p_64:after{width:64%;}.p_65:after{width:65%;}.p_66:after{width:66%;}.p_67:after{width:67%;}.p_68:after{width:68%;}.p_69:after{width:69%;}.p_70:after{width:70%;}.p_71:after{width:71%;}.p_72:after{width:72%;}.p_73:after{width:73%;}.p_74:after{width:74%;}.p_75:after{width:75%;}.p_76:after{width:76%;}.p_77:after{width:77%;}.p_78:after{width:78%;}.p_79:after{width:79%;}.p_80:after{width:80%;}.p_81:after{width:81%;}.p_82:after{width:82%;}.p_83:after{width:83%;}.p_84:after{width:84%;}.p_85:after{width:85%;}.p_86:after{width:86%;}.p_87:after{width:87%;}.p_88:after{width:88%;}.p_89:after{width:89%;}.p_90:after{width:90%;}.p_91:after{width:91%;}.p_92:after{width:92%;}.p_93:after{width:93%;}.p_94:after{width:94%;}.p_95:after{width:95%;}.p_96:after{width:96%;}.p_97:after{width:97%;}.p_98:after{width:98%;}.p_99:after{width:99%;}.p_100:after{width:100%;}

    footer { width:100%; position:absolute; bottom:0; left:0;
        .footer_menu { padding:7px 0 60px; text-align:center; font-size:13px;
            span { margin:0px 16px; color:#6d6e71; vertical-align:1px; }
            a { color:#6d6e71; 
                &:hover { color:@blue_1; }
            }
        }
        .logo { float:right; }

        .footer_bg { width:122%; height:50px; background:url(../img/sprite_2.png) no-repeat; background-size:100% auto; margin:0 0 0 -11%; }
    }




/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// MEDIA QUERIES
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


@media only screen and (max-width:1024px) {

    .middle {
        .slider_left  { left:5px;  }
        .slider_right { right:20px; }
    }

    .middle.legendas input[type="text"] { width:69%; }

}


@media only screen and (min-width:768px) and (max-width:1024px) {

    .container { width:760px; }
    .middle {
        .bigtitle { height:44px; background-position:0 -174px; line-height:45px; font-size:20px; }
        .title { height:42px; background-position:0px -217px; line-height:42px; font-size:20px; } 
        .wrapper {
            nav {  height:40px; background-position:0 -217px; padding:12px 120px; overflow:visible;
                a { width:130px; height:30px; line-height:30px; font-size:12px; }
            }

        }

        .slider_wrapper { width:720px; }
        .slider_left  { left:5px;  }
        .slider_right { right:20px; }

        article { width:80%; float:none; margin:auto; display:block; 
            h2 { background-size:100%; }
        }

    }

    .login aside { min-width:470px; }
    .menu aside { min-width:380px; }

    .legendas { 
        .details .short_search { width:100%; }
        aside { min-width:330px; }
    }

    footer .footer_bg { height:40px; }
}



@media only screen and (max-width:767px) {

    .container { width:480px;
        .upper { background-position:0 -26px; }
    }
    .middle {
        .horbar { display:none; }
        .bigtitle, .title { height:27px; background-position:0 -163px; line-height:31px; font-size:15px; }
        .title { height:26px; background-position:0 -194px; }
        .wrapper {
            nav { height:25px; background-position:0 -246px; padding:4px 20px 0; overflow:hidden;
                a { width:90px; height:20px; font-size:12px; line-height:20px; }
            }
        }

        .slider_wrapper { width:480px; }
        .slider_left  { left:5px;  }
        .slider_right { right:21px; }

        article { width:80%; float:none; margin:auto; display:block; 
            h2 { background-size:100%; }
        }
    }

    .login aside { min-width:380px;
            input { float:none; }
            button { display:block; }
    }
    .menu aside { min-width:380px; }

    .legendas { 
        .details .short_search { width:100%; }
        aside { min-width:330px; }
    }

    .middle.legendas aside { width:100%;
        &:after { content:none; }
    }

    footer .footer_bg { height:25px; }
}










/*
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////////// EXTRA
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* Datepicker
----------------------------------*/
.js_datepicker { cursor:pointer; }
.ui-datepicker { width:225px; background-color:#FFF; padding:2px; -webkit-border-radius:4px; border-radius:4px; -webkit-box-shadow:0 0 4px #222; box-shadow:0 0 4px #222; font-family:Helvetica, Arial, sans-serif; z-index:101 !important; display:none;
    /* header */
    .ui-datepicker-header    { height:30px; background-color:#7DC6E9; background-image:-webkit-gradient(linear, left top, left bottom, from(#A5D8F4), to(#49AFD8)); background-image:-webkit-linear-gradient(top, #A5D8F4, #49AFD8); background-image:-moz-linear-gradient(top, #A5D8F4, #49AFD8); background-image:-o-linear-gradient(top, #A5D8F4, #49AFD8); background-image:linear-gradient(to bottom, #A5D8F4, #49AFD8); border:1px solid #999; -webkit-border-radius:4px; border-radius:4px; color:@gray_1; font-weight:bold; line-height:30px; }
    .ui-datepicker-prev      { float:left; }
    .ui-datepicker-next      { float:right; }
    .ui-datepicker-title     { text-align:center; }
    /* calendar */
    .ui-datepicker-calendar  { width:100%; color:@gray_1; }
    th                       { font-size:14px; line-height:30px; }
    .ui-state-default        { width:29px; background-color:#E6E6E6; background-image:-webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#D6D6D6)); background-image:-webkit-linear-gradient(top, #F4F4F4, #D6D6D6); background-image:-moz-linear-gradient(top, #F4F4F4, #D6D6D6); background-image:-o-linear-gradient(top, #F4F4F4, #D6D6D6); background-image:linear-gradient(to bottom, #F4F4F4, #D6D6D6);  margin:1px; border:1px solid #BBB; -webkit-border-radius:3px; border-radius:3px; color:#555; font-size:13px; line-height:22px; text-align:center; display:block; }
    a.ui-state-default:hover { background-color:#D3D3D3; background-image:none; border:1px solid #999; text-decoration:none; color:#111; }
    .ui-datepicker-other-month .ui-state-default { background-color:#F9F9F9; background-image:none; border:1px solid #DDD; color:#BBB; cursor:default; }
    .ui-datepicker-prev, .ui-datepicker-next { margin:4px; padding:4px; filter:alpha(opacity=50); opacity:0.5; }
    .ui-datepicker-prev:hover , .ui-datepicker-next:hover { filter:alpha(opacity=100); opacity:1; }
    .ui-datepicker-prev span, .ui-datepicker-next span { width:19px; height:18px; background-image:url(../img/sprite_1.png);  text-indent:-9456px; display:block; }        
    .ui-datepicker-prev span { background-position: 0   -18px; }
    .ui-datepicker-next span { background-position:0 0; }
}
